.favorites {
  padding: 60px 20px;
}

.favorites__title {
  color: #2c2c2c;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.favorites__text {
  color: #2c2c2c;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 60px;
}

.favoritesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.favoritesList__item {
  border-radius: 50%; /* Кругла форма */
  border: 11px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 282px;
  flex-shrink: 0;
}

.favoritesList__photo {
  width: 223px;
  height: 223px;
  border-radius: 50%;
}

.favoritesList:nth-child(4) {
  display: none;
}

.favoritesList:nth-child(5) {
  display: none;
}

.favoritesList:nth-child(6) {
  display: none;
}

@media screen and (min-width: 736px) {
  .favorites {
    padding: 100px 32px;
  }

  .favorites__title {
    font-size: 42px;
  }

  .favorites__text {
    font-size: 16px;
  }

  .favoritesList {
    gap: 32px;
  }

  .favoritesList__item {
    width: 306px;
    height: 306px;
  }

  .favoritesList__photo {
    width: 268px;
    height: 268px;
  }

  .favoritesList:nth-child(4) {
    display: block;
  }

  .favoritesList:nth-child(5) {
    display: block;
  }

  .favoritesList:nth-child(6) {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .favorites {
    padding: 100px 15px;
  }

  .favoritesList__item {
    width: 395px;
    height: 395px;
  }

  .favoritesList__photo {
    width: 315px;
    height: 315px;
  }
}
