.hero {
  padding: 60px 20px 50px 20px;
}

.hero__title {
  margin-bottom: 28px;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}

.hero__text {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 28px;
  text-align: left;
}

.hero__btn {
  background: var(--accent-color);
  justify-content: start;
  margin-bottom: 91px;
}

.slider {
  display: none;
}

.slider__photo {
  display: none;
}

@media screen and (min-width: 736px) {
  .hero {
    padding: 60px 32px 73px 60px;
    display: flex;
  }

  .hero__title {
    line-height: 120%;
    font-size: 42px;
    margin-bottom: 44px;
  }

  .hero__text {
    font-size: 16px;
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .slider {
    display: block;
    width: 320px;
    height: 320px;
  }

  .slider__photo {
    display: block;
  }

  .hero__btn {
    margin-bottom: 115px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 14px 16px;
  }

  .hero__title {
    font-size: 48px;
    margin-bottom: 28px;
  }

  .hero__text {
    margin-right: 152px;
  }

  .slider {
    width: 580px;
    height: 580px;
  }

  .hero__btn {
    margin-bottom: 180px;
  }
}
