:root {
  --accent-color: #bbf330;
  --bg-color: #ffe550;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: Roboto;
}
