.offerings {
  padding: 50px 20px 60px 20px;
  background-image: url(../../images/offerings-mobile-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.offeringsList {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.offerings__photo {
  margin-bottom: 60px;
}

.offerings__title {
  margin-bottom: 28px;
  display: none;
}

.offerings__text {
  margin-bottom: 28px;
  display: none;
}

.offeringsList__icon {
  margin-bottom: 8px;
  align-items: start;
}

.offeringsList__title {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: start;
}

.offeringsList__text {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
}

.offeringsList {
  gap: 28px;
  margin-bottom: 28px;
}

ul + button {
  margin-right: 24px;
  background: #fff;
  padding: 10px 22px;
  border-radius: 30px;
  border: 2px solid var(--accent-color);
  color: var(--Black, #2c2c2c);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
}

.offerings__readMore {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 13.667px;
  font-weight: 400;
  line-height: 150%;
  align-items: center;
  margin-left: 24px;
}

.offerings__mediumApple {
  display: none;
  width: 166px;
  height: 211px;
  margin-left: 29px;
  margin-right: 44px;
}

.offerings__smallApple {
  display: none;
  width: 108px;
  height: 136px;
}

.offerings__photosFlex {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 736px) {
  .offerings {
    padding: 150px 32px 60px 32px;
    background-image: url(../../images/offerings-bg.png);
  }

  .offerings__title {
    margin-bottom: 20px;
  }

  .offerings__text {
    margin-bottom: 40px;
  }

  .offeringsList {
    display: flex;
    gap: 116px;
    margin-bottom: 40px;
    flex-direction: row;
  }

  .offerings__mediumApple {
    display: block;
  }

  .offerings__smallApple {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .offerings {
    padding: 177px 51px 43px 16px;
  }

  .offerings__title {
    display: block;
  }

  .offerings__text {
    display: block;
  }

  .offerings__photo {
    width: 502px;
    height: 502px;
  }

  .offerings__container {
    display: flex;
  }

  .offerings__photo {
    margin-bottom: 0;
    margin-right: 90px;
  }

  .offeringsList {
    gap: 67px;
    margin-bottom: 32px;
  }

  .offerings__readMore {
    display: none;
  }

  .offerings__mediumApple {
    display: none;
  }

  .offerings__smallApple {
    display: none;
  }
}
