.slider {
  display: none;
}

.slider__photo {
  border-radius: 580px;
  background: var(--White, #fefefe);
}

@media screen and (min-width: 736px) {
  .slider {
    display: block;
    width: 320px;
    height: 320px;
    position: absolute;
    right: 20px;
    top: 240px;
  }

  .slider__photo {
    width: 292px;
    height: 292px;
    border: 14px solid var(--Yellow-main, #ffe550);
  }

  .slider__forward {
    position: absolute;
    top: 46%;
    right: -4%;
  }

  .slider__backward {
    position: absolute;
    top: 46%;
    left: -4%;
  }
}

@media screen and (min-width: 1280px) {
  .slider {
    width: 580px;
    height: 580px;
    position: absolute;
    right: 30px;
    top: 86px;
  }

  .slider__photo {
    width: 430px;
    height: 430px;
    border: 26px solid var(--Yellow-main, #ffe550);
  }

  .slider__forward {
    position: absolute;
    top: 46%;
    right: -4%;
  }

  .slider__backward {
    position: absolute;
    top: 46%;
    left: -4%;
  }
}
